@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hastane Veritabanı</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #1e1e1e;
            color: #ffffff;
        }

        .navbar-inverse {
            border-radius: 0;
            background-color: #1e1e1e;
            border-color: #333333;
        }

            .navbar-inverse .navbar-brand,
            .navbar-inverse .nav > li > a {
                color: #ffffff;
            }

                .navbar-inverse .navbar-brand:hover,
                .navbar-inverse .nav > li > a:hover {
                    color: #dddddd;
                }

        .container {
            background-color: #1e1e1e;
            padding: 20px;
            border-radius: 5px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index" style="padding: 20px">Hastane Veritabanı</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Login", "Account")">
                        <span class="glyphicon glyphicon-log-in"></span> Giriş Yap
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
