@{
    ViewBag.Title = "YeniMalzemeAlim";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="center-form-container">
    <form class="form-group form-container" method="post">
        <h2 style="text-align: center; margin-bottom: 20px;">Yeni Malzeme Alım Kaydı</h2>

        <div class="form-item">
            <label for="alim_firma">Firma Adı</label>
            <input type="text" class="input-dark-theme" name="alim_firma" required placeholder="Firma Adı" />
        </div>

        <div class="form-item">
            <label for="malzeme_id">Malzeme Adı</label>
            <select name="malzeme_id" class="select-dark-theme" required>
                <option value="" disabled selected>Malzeme Adı</option>
                @foreach (var malzeme in ViewBag.malzemeler as SelectList)
                {
                    <option value="@malzeme.Value">@malzeme.Text</option>
                }
            </select>
        </div>

        <div class="form-item">
            <label for="alim_adet">Adet</label>
            <input type="number" class="input-dark-theme" name="alim_adet" required placeholder="1337" />
        </div>

        <div class="form-item">
            <label for="alim_fiyat">Toplam Fiyat</label>
            <input type="number" class="input-dark-theme" name="alim_fiyat" required placeholder="1337" />
            <span style="margin-left: 5px;">₺</span>
        </div>
        <br />
        <div style="color: deepskyblue; text-align: center;">Yapılan malzeme alım işlemine ait bütçe kaydı sistem tarafından otomatik olarak oluşturulmaktadır.</div>
        @if (ViewBag.ErrorMessage != null)
        {
            <div style="color: red; text-align: center;">@ViewBag.ErrorMessage</div>
        }

        <div style="text-align: center; margin-top: 20px;">

            <button type="submit" class="btn btn-primary" onclick="return confirm('Eklemek istediğinize emin misiniz?');">Ekle</button>
        </div>
    </form>
</div>
