@model HastaneVeritabani.Models.Entity.Meslek
@{
    ViewBag.Title = "MeslekGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="center-form-container">
    @using (Html.BeginForm("Güncelle", "Meslek", FormMethod.Post, new { @class = "form-group form-container" }))
    {
        <h2 style="text-align: center; margin-bottom: 20px;">Meslek Güncelle</h2>

        @Html.HiddenFor(m => m.meslek_id)

        <div class="form-item">
            <label>Adı</label>
            <input type="text"
                   name="meslek_ad"
                   class="input-dark-theme"
                   placeholder="@Model.meslek_ad" />
        </div>

        <div class="form-item">
            <label>Maaşı</label>
            <input type="number"
                   name="meslek_maas"
                   class="input-dark-theme"
                   placeholder="@Model.meslek_maas" />
        </div>
        <br />
        if (ViewBag != null)
        {
            <div style="color: red; text-align: center;">@ViewBag.ErrorMessage</div>
        }

        <div style="text-align: center; margin-top: 20px;">
            <button type="submit" class="btn btn-primary"
                    onclick="return confirm('Güncellemek istediğinize emin misiniz?');">
                Güncelle
            </button>
        </div>
    }
</div>

