@model HastaneVeritabani.Models.Entity.Yönetici
@{
    ViewBag.Title = "YöneticiGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="center-form-container">
    @using (Html.BeginForm("Güncelle", "Yönetici", FormMethod.Post, new { @class = "form-group form-container" }))
    {
        <h2 style="text-align: center; margin-bottom: 20px;">Yönetici Güncelle</h2>

        @Html.HiddenFor(y => y.id)

        <div class="form-item">
            <label>Adı</label>
            <input type="text"
                   name="kullanici_adi"
                   class="input-dark-theme"
                   placeholder="@Model.kullanici_adi" />
        </div>

        <div class="form-item">
            <label>Şifresi</label>
            <input type="password"
                   name="sifre"
                   class="input-dark-theme"
                   placeholder="***********"
                   required />
        </div>

        <div class="form-item">
            <label>Şifre Doğrulama</label>
            <input type="password"
                   name="sifre_dogrulama"
                   class="input-dark-theme"
                   placeholder="***********"
                   required />
        </div>
        <br />
        if (ViewBag!=null)
        {
            <div style="color: red; text-align: center;">@ViewBag.ErrorMessage</div>
        }

        <div style="text-align: center; margin-top: 20px;">
            <button type="submit" class="btn btn-primary"
                    onclick="return confirm('Güncellemek istediğinize emin misiniz?');">
                Güncelle
            </button>
        </div>
    }
</div>

